message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MyMsg" type="MyMsgType"/>
  <xs:complexType name="MsgType">
    <xs:sequence>
      <xs:element type="xs:string" name="from"/>
      <xs:element type="xs:string" name="to"/>
      <xs:element type="xs:date" name="date"/>
      <xs:element type="xs:string" name="body"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MyMsgType">
    <xs:sequence>
      <xs:element type="xs:string" name="Header"/>
      <xs:element type="MsgType" name="Msg" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>